* {
  box-sizing: border-box;
}

h1 {
  font-family: futura;
  text-align: left;
  background-color: beige;
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
}

nav {
  float: left;
  width: 25%;
  background: #e4d5b7;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav ul {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
}

article {
  background-color: #faf0e6;
  float: left;
  padding: 20px;
  width: 75%;
}

section::after {
  content: '';
  display: table;
  clear: both;
}

img {
  width: 40%;
  height: auto;
  text-align: center !important;
}

table {
  width: 100%;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wp-block-codemirror-blocks-code-block code-block {
  border-style: double;
  background-color: grey;
}

footer {
  background-color: beige;
  padding: 10px;
  text-align: center;
  font-size: 90%;
}

#copyright {
  color: gray;
  font-size: x-small;
}

@media screen and (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: auto;
    position: relative;
  }
}
